@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .trailing-period:after {
    content: '.';
  }
}

@layer base {
  .single p {
    @apply text-red-500 leading-loose mb-4 indent-4 tracking-wide;
  }

  a {
    @apply font-medium;
  }

  a:hover {
    @apply underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium my-2 text-gray-700 dark:text-gray-200;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-lg text-gray-600 dark:text-gray-300;
  }

  h6 {
    @apply text-gray-600 dark:text-gray-300;
  }

  body {
    @apply antialiased bg-white dark:bg-gray-800 dark:text-white flex flex-col font-serif h-screen justify-between text-gray-700;
  }

  article>header {
    @apply pb-6;
  }

  figure {
    @apply flex flex-col justify-between text-gray-500 dark:text-gray-300 rounded-md p-4 my-4;
  }

  figure figcaption {
    @apply border-b text-sm text-center dark:border-gray-700 border-gray-200 mb-2;
  }

  figure code {
    @apply overflow-auto;
  }

  figure>*:last-child {
    @apply mb-2;
  }

  code {
    @apply px-2 block whitespace-pre font-mono text-sm sm:text-base rounded-md bg-black dark:text-white text-white;
  }

  article>header,
  body>header {
    @apply border-b border-gray-200 container dark:border-gray-700;
  }

  body>header {
    @apply flex justify-between items-center max-w-3xl mx-auto py-4;
  }

  body>main {
    @apply container max-w-3xl mx-auto py-4 mb-auto;
  }

  body>footer {
    @apply shadow-inner bg-gray-50 dark:bg-gray-700 py-4 text-center;
  }

  body>footer>div {
    @apply container mx-auto text-center;
  }

  nav>* {
    @apply pr-1;
  }

  nav {
    @apply flex flex-row text-lg;
  }

  nav>*:not(:last-child) {
    @apply pr-1;
  }

  nav>ol,
  nav>ul {
    @apply flex flex-row list-none;
  }

  nav>ol>li,
  nav>ul>li {
    @apply pr-1;
  }

  nav>ol>li:not(:nth-last-child(-n+2)):after,
  nav>ul>li:not(:nth-last-child(-n+2)):after {
    content: ',';
  }

  nav>ol>li:nth-last-child(2):after,
  nav>ul>li:nth-last-child(2):after {
    content: ', and';
  }

  nav>ol>li:nth-last-child(1):after,
  nav>ul>li:nth-last-child(1):after {
    content: '.';
  }
}