{{- define "main" }}
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <article class="prose prose-sm">
    <header class="border-b border-gray-200">
      <h1>{{ .Title }}</h1>
      <p>
        It was written <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>.
      </p>
    </header>
    <main  class="prose">
      {{ .Content }}
    </main>
    <aside>
      {{ partial "themes.html" (dict "taxonomy" "themes" "page" .) }}
    </aside>
  </article>
{{- end -}}
