<!-- main -->
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%20Slab">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%20Mono">

<!-- custom -->
{{ range .Site.Params.css }}
<link rel="stylesheet" href="{{ . | absURL }}"> {{ end }}

<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{ .Site.Params.highlightStyle | default "default" }}.min.css">
{{ end }}
