<!DOCTYPE html>
<html lang="{{ or .Site.Language.LanguageCode site.Language.Lang }}" dir="{{ or .Site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <main class="flex flex-col h-screen">
    <header class="flex flex-col m-auto">
      <p>{{ .Site.Params.Slug | .RenderString }}</p>
      <h1 class="text-3xl font-medium trailing-period">{{ .Site.Title }}</h1>
      <nav class="flex flex-row pt-8">
        <p>I do</p>
        <ul>
        {{- range .Site.Menus.main.ByWeight }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{- end }}
        </ul>
        <p>Maybe check that out.</p>
      </nav>
    </header>
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
